---
import skills from "../data/skills.json";
const heading = "My Skills"
import Section from './Section.astro'
---

<Section dark={true}>
	<h2>{heading}</h2>
	<div class="skill-cards">
	   { skills.map( skill => (
		<div class="skill">
        <img src={skill.image} alt={skill.skillname}/>
		<h3>{skill.skillname}</h3>
		</div>
      ))
     }
	 </div>
</Section>

<style>
.skill-cards{
	display: grid;
	grid-template: repeat(2,1fr)/repeat(3,1fr);
	padding: 30px 0;
	text-align: center;
	justify-content: center;
	gap: 50px 10px;

	img{
		width: 100px;
	}
}

.skill img{
	border: 2px solid var(--secondary);
	border-radius: 5px;
	padding: 10px;
	margin: 20px;
    box-shadow: 0 5px 5px var(--primary);
}

@media (max-width: 600px) {
      .skill-cards {
		display: flex;
        flex-wrap: wrap;
      }
      
    }
</style>